// Padding Top Helpers
.pts  { padding-top:  5px; }
.ptm  { padding-top: 10px; }
.ptd  { padding-top: 15px; }
.ptl  { padding-top: 20px; }
.ptxl { padding-top: 50px; }
// Padding Bottom Helpers
.pbs  { padding-bottom:  5px; }
.pbm  { padding-bottom: 10px; }
.pbd  { padding-bottom: 15px; }
.pbl  { padding-bottom: 20px; }
.pbxl { padding-bottom: 50px; }
// Padding Vertical Helpers
.pvs  { padding-top:  5px; padding-bottom:  5px; }
.pvm  { padding-top: 10px; padding-bottom: 10px; }
.pvd  { padding-top: 15px; padding-bottom: 15px; }
.pvl  { padding-top: 20px; padding-bottom: 20px; }
.pvxl { padding-top: 50px; padding-bottom: 50px; }
// Padding Horizontal Helpers
.phs  { padding-left:  5px; padding-right:  5px; }
.phm  { padding-left: 10px; padding-right: 10px; }
.phd  { padding-left: 15px; padding-right: 15px; }
.phl  { padding-left: 20px; padding-right: 20px; }
.phxl { padding-left: 50px; padding-right: 50px; }

// Margin Top Helpers
.mts  { margin-top:  5px; }
.mtm  { margin-top: 10px; }
.mtd  { margin-top: 15px; }
.mtl  { margin-top: 20px; }
.mtxl { margin-top: 50px; }
// Margin Bottom Helpers
.mbs  { margin-bottom:  5px; }
.mbm  { margin-bottom: 10px; }
.mbd  { margin-bottom: 15px; }
.mbl  { margin-bottom: 20px; }
.mbxl { margin-bottom: 50px; }
// Padding Vertical Helpers
.mvs  { margin-top:  5px; margin-bottom:  5px; }
.mvm  { margin-top: 10px; margin-bottom: 10px; }
.mvd  { margin-top: 15px; margin-bottom: 15px; }
.mvl  { margin-top: 20px; margin-bottom: 20px; }
.mvxl { margin-top: 50px; margin-bottom: 50px; }
// Padding Horizontal Helpers
.mhs  { margin-left:  5px; margin-right:  5px; }
.mhm  { margin-left: 10px; margin-right: 10px; }
.mhd  { margin-left: 15px; margin-right: 15px; }
.mhxl { margin-left: 50px; margin-right: 50px; }

.bg-white {
  background-color: #fff !important;
}

.spied {
  padding-top: 50px;
  margin-top: -50px;
}

img.img-responsive {
  width: 100%;
}
